[apt]
	{{ '#DISABLED' if xymon_plug_apt_state else 'DISABLED' }}
	ENVFILE /etc/xymon/xymonclient.cfg
	CMD $XYMONCLIENTHOME/ext/apt
	LOGFILE /var/log/xymon/xymonclient.log
	INTERVAL {{ xymon_plug_apt_interval }}
