[kern]
	# {{ ansible_managed }}
	## From ipr-cnrs.xymon role
	{{ '#DISABLED' if xymon_cli__plug_kern_state else 'DISABLED' }}
	ENVFILE /etc/xymon/xymonclient.cfg
	CMD $XYMONCLIENTHOME/ext/kern
	LOGFILE /var/log/xymon/xymonclient.log
	INTERVAL {{ xymon_cli__plug_kern_interval }}
