[libs]
	# {{ ansible_managed }}
	## From ipr-cnrs.xymon role
	{{ '#DISABLED' if xymon_cli__plug_libs_state else 'DISABLED' }}
	ENVFILE /etc/xymon/xymonclient.cfg
	CMD $XYMONCLIENTHOME/ext/libs
	LOGFILE /var/log/xymon/xymonclient.log
	INTERVAL {{ xymon_cli__plug_libs_interval }}
