[zfs]
	# {{ ansible_managed | comment }}
	## From ipr-cnrs.xymon role
	{{ '#DISABLED' if xymon_cli__plug_zfs_state else 'DISABLED' }}
	ENVFILE /etc/xymon/xymonclient.cfg
	CMD /usr/bin/sudo -E -u root $XYMONCLIENTHOME/ext/zfs
	LOGFILE /var/log/xymon/zfs.log
	INTERVAL {{ xymon_cli__plug_zfs_interval }}
